.container {
  display: flex;
  padding: 10px 20px;
  max-width: 450px;
  width: 100%;
  margin: 20px auto;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px grey;
  border-radius: 10px;
}

.container > button {
  font-size: 1.2rem;
  text-decoration: none;
  border: none;
  background-color: inherit;
  padding: 10px;
  border-radius: 10px;
}

.container > button:hover {
  box-shadow: 2px 2px 5px grey;
}

.container > div {
  text-align: center;
}

.container > img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.container > div > h1 {
  font-size: 1.4rem;
  padding: 10px;
}

.container > span {
  font-size: 1.2rem;
  padding: 10px;
}
